body {
    background-color:#00A18E;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 50%;
    height: 50%;
}

h1 {
    color: #031124;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

#img-logo{
    width: 150px;
    height: 50px;
    position: relative;

}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary, .btn-secondary {
    margin-top: 10px;
    width: 100%;
}
